Node-Red Flows/SendReceiveExamples.json
[{"id":"874dc613.176848","type":"tab","label":"SofarCtrl Examples","disabled":false,"info":""},{"id":"ca324135.c5b23","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/standby","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["58302a2b.46e6d4"]]},{"id":"58302a2b.46e6d4","type":"mqtt out","z":"874dc613.176848","name":"sofar","topic":"","qos":"2","retain":"","broker":"f1cb6c58.281ab","x":430,"y":40,"wires":[]},{"id":"eb4e5cf2.adaf9","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/charge","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["58302a2b.46e6d4"]]},{"id":"1c143442.4fcbfc","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/charge","payload":"1230","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["58302a2b.46e6d4"]]},{"id":"a7ea14d8.7b9d38","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/charge","payload":"3000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["58302a2b.46e6d4"]]},{"id":"7a94df83.5ab0b","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/discharge","payload":"543","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["58302a2b.46e6d4"]]},{"id":"a0efcaf0.2093f8","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/discharge","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":338,"wires":[["58302a2b.46e6d4"]]},{"id":"ddb3aa71.c2be98","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/discharge","payload":"1521","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":378,"wires":[["58302a2b.46e6d4"]]},{"id":"5f875246.56912c","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/discharge","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":161,"y":415,"wires":[["58302a2b.46e6d4"]]},{"id":"fcaa6e3b.569ee","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/discharge","payload":"3000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":161,"y":455,"wires":[["58302a2b.46e6d4"]]},{"id":"f1b92748.ee93a8","type":"mqtt in","z":"874dc613.176848","name":"running_state","topic":"sofar/running_state","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":670,"y":40,"wires":[["962352ff.868ee"]]},{"id":"5f4693cb.83c02c","type":"mqtt in","z":"874dc613.176848","name":"grid_voltage","topic":"sofar/grid_voltage","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":670,"y":100,"wires":[["4421bff0.c94de"]]},{"id":"9b990f72.2821f","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/auto","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["58302a2b.46e6d4"]]},{"id":"8ea03cd3.68da","type":"mqtt in","z":"874dc613.176848","name":"batterySOC","topic":"sofar/batterySOC","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":670,"y":460,"wires":[["89c8f525.56bd48"]]},{"id":"cfaac0e1.58918","type":"mqtt in","z":"874dc613.176848","name":"grid_current","topic":"sofar/grid_current","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":670,"y":160,"wires":[["aec09af9.d57d28"]]},{"id":"b8b8128d.5f697","type":"mqtt in","z":"874dc613.176848","name":"grid_freq","topic":"sofar/grid_freq","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":660,"y":220,"wires":[["a606fe9a.29569"]]},{"id":"79cccae3.0d0bc4","type":"mqtt in","z":"874dc613.176848","name":"battery_voltage","topic":"sofar/battery_voltage","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":680,"y":340,"wires":[["bdbe456b.328c38"]]},{"id":"a9f0aeaa.e90c7","type":"mqtt in","z":"874dc613.176848","name":"battery_current","topic":"sofar/battery_current","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":680,"y":400,"wires":[["2c6d9bd3.ab43c4"]]},{"id":"9faaf1a5.8a02a","type":"mqtt in","z":"874dc613.176848","name":"battery_power","topic":"sofar/battery_power","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":670,"y":280,"wires":[["b029a2df.2788c"]]},{"id":"3cbf19a3.50c306","type":"mqtt in","z":"874dc613.176848","name":"battery_temp","topic":"sofar/battery_temp","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":670,"y":520,"wires":[["9928c75b.23b148"]]},{"id":"5c1d6dfe.b58b84","type":"mqtt in","z":"874dc613.176848","name":"battery_cycles","topic":"sofar/battery_cycles","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":670,"y":580,"wires":[["ce922e74.e2b6c"]]},{"id":"f91e8b73.e63c18","type":"mqtt in","z":"874dc613.176848","name":"grid_power","topic":"sofar/grid_power","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1040,"y":40,"wires":[["5e5d4b67.68acc4"]]},{"id":"575ac37f.1ba5ac","type":"mqtt in","z":"874dc613.176848","name":"consumption","topic":"sofar/consumption","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1050,"y":100,"wires":[["649146e9.7e6838"]]},{"id":"92ad8861.dd3ad8","type":"mqtt in","z":"874dc613.176848","name":"solarPV","topic":"sofar/solarPV","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1030,"y":160,"wires":[["2889d6e6.a3438a"]]},{"id":"bc7cd2e3.3feec","type":"mqtt in","z":"874dc613.176848","name":"today_generation","topic":"sofar/today_generation","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1060,"y":220,"wires":[["14472a05.531176"]]},{"id":"f8606c66.27841","type":"mqtt in","z":"874dc613.176848","name":"today_purchase","topic":"sofar/today_purchase","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1060,"y":340,"wires":[["cf6fe81a.f8ae08"]]},{"id":"da9a78e6.9f9e88","type":"mqtt in","z":"874dc613.176848","name":"today_exported","topic":"sofar/today_exported","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1060,"y":280,"wires":[["d64cadd5.2e51f"]]},{"id":"a5338172.2759a","type":"mqtt in","z":"874dc613.176848","name":"inverter_temp","topic":"sofar/inverter_temp","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1050,"y":460,"wires":[["791730d.99d91d"]]},{"id":"47c74479.63f17c","type":"mqtt in","z":"874dc613.176848","name":"today_consumption","topic":"sofar/today_consumption","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1070,"y":400,"wires":[["4eae6eaf.cba11"]]},{"id":"9e50dcdd.4aab8","type":"mqtt in","z":"874dc613.176848","name":"inverterHS_temp","topic":"sofar/inverterHS_temp","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1060,"y":520,"wires":[["1b210aa5.214625"]]},{"id":"2a0404f0.d1164c","type":"mqtt in","z":"874dc613.176848","name":"solarPVAmps","topic":"sofar/solarPVAmps","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":1050,"y":580,"wires":[["e9f06dea.9643c"]]},{"id":"962352ff.868ee","type":"function","z":"874dc613.176848","name":"state","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nswitch (msg.payload)\n{\n\tcase \"0\":\n\t\tmsg.payload = \"Standby\"\n\t\tbreak;\n\tcase \"1\":\n\t\tmsg.payload = \"Check charge\"\n\t\tbreak;\n\tcase \"2\":\n\t\tmsg.payload = \"Charging\"\n\t\tbreak;\n\tcase \"3\":\n\t\tmsg.payload = \"Chaeck discharge\"\n\t\tbreak;\n\tcase \"4\":\n\t\tmsg.payload = \"Discharging\"\n\t\tbreak;\n\tcase \"5\":\n\t\tmsg.payload = \"EPSState\"\n\t\tbreak;\n\tcase \"6\":\n\t\tmsg.payload = \"Fault\"\n\t\tbreak;\n\tcase \"7\":\n\t\tmsg.payload = \"Perminant Fault\"\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = \"Unknown\"\n\t\tbreak;\n}\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":40,"wires":[[]]},{"id":"4421bff0.c94de","type":"function","z":"874dc613.176848","name":"V","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = Math.round(val/10);\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[[]]},{"id":"aec09af9.d57d28","type":"function","z":"874dc613.176848","name":"A","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nval = Math.round(val/10);\nmsg.payload = val/10;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":160,"wires":[[]]},{"id":"a606fe9a.29569","type":"function","z":"874dc613.176848","name":"Hz","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = Math.round(val/100);\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":220,"wires":[[]]},{"id":"bdbe456b.328c38","type":"function","z":"874dc613.176848","name":"V","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nval = Math.round(val/10);\nmsg.payload = val/10;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":340,"wires":[[]]},{"id":"89c8f525.56bd48","type":"function","z":"874dc613.176848","name":"%","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = val;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":460,"wires":[[]]},{"id":"9928c75b.23b148","type":"function","z":"874dc613.176848","name":"C","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = val;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[[]]},{"id":"649146e9.7e6838","type":"function","z":"874dc613.176848","name":"mA","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = Math.round(val*10);\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":100,"wires":[[]]},{"id":"2889d6e6.a3438a","type":"function","z":"874dc613.176848","name":"W","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = Math.round(val/10);\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":160,"wires":[[]]},{"id":"14472a05.531176","type":"function","z":"874dc613.176848","name":"kWh","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nval = Math.round(val*10);\nmsg.payload = val/1000;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":220,"wires":[[]]},{"id":"d64cadd5.2e51f","type":"function","z":"874dc613.176848","name":"kWh","func":"//node.status({fill:\"red\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nval = Math.round(val*10);\nmsg.payload = val/1000;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":280,"wires":[[]]},{"id":"cf6fe81a.f8ae08","type":"function","z":"874dc613.176848","name":"kWh","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nval = Math.round(val*10);\nmsg.payload = val/1000;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":340,"wires":[[]]},{"id":"4eae6eaf.cba11","type":"function","z":"874dc613.176848","name":"kWh","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nval = Math.round(val*10);\nmsg.payload = val/1000;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":400,"wires":[[]]},{"id":"791730d.99d91d","type":"function","z":"874dc613.176848","name":"C","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = val;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":460,"wires":[[]]},{"id":"1b210aa5.214625","type":"function","z":"874dc613.176848","name":"C","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = val;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":520,"wires":[[]]},{"id":"e9f06dea.9643c","type":"function","z":"874dc613.176848","name":"A","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nval = Math.round(val/10);\nmsg.payload = val/10;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":580,"wires":[[]]},{"id":"2c6d9bd3.ab43c4","type":"function","z":"874dc613.176848","name":"A","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\ni = parseInt(msg.payload);\nif (i > 65535/2)\n{\n    //Discharing    \n    i = parseInt((65535 - i)/100);\n}\nelse\n{\n    i = parseInt(i/100);\n}\nmsg.payload = i;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[[]]},{"id":"b029a2df.2788c","type":"function","z":"874dc613.176848","name":"W","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\ni = parseInt(msg.payload);\nif (i > 65535/2)\n{\n    //Discharing    \n    i = parseInt((65535 - i)*10);\n}\nelse\n{\n    //Charging\n    i = parseInt(i*10);\n    i = 0-i;\n}\nmsg.payload = i;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":280,"wires":[[]]},{"id":"5e5d4b67.68acc4","type":"function","z":"874dc613.176848","name":"W","func":"node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\ni = parseInt(msg.payload);\nif (i > 65535/2)\n{\n    //Discharing    \n    i = parseInt((65535 - i)*10);\n}\nelse\n{\n    //Charging\n    i = parseInt(i*10);\n    i = 0-i;\n}\nmsg.payload = i;\n//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":40,"wires":[[]]},{"id":"ce922e74.e2b6c","type":"function","z":"874dc613.176848","name":"","func":"//node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nval = parseInt(msg.payload);\nmsg.payload = val;\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":580,"wires":[[]]},{"id":"22858463.a7d43c","type":"inject","z":"874dc613.176848","name":"","topic":"sofar/auto","payload":"battery_save","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["58302a2b.46e6d4"]]},{"id":"f1cb6c58.281ab","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"emonpi","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]