Node-Red Flows/SimpleScheduleExample.json
[{"id":"d24df855.a61cd8","type":"tab","label":"SofarCtrl Schedule","disabled":false,"info":""},{"id":"5f66a204.00affc","type":"mqtt in","z":"d24df855.a61cd8","name":"batterySOC","topic":"sofar/batterySOC","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":130,"y":140,"wires":[["ce7b86b0.fb2028","994e5a29.09b5b8","881717be.274408"]]},{"id":"ce7b86b0.fb2028","type":"function","z":"d24df855.a61cd8","name":"Charge 2am-5am","func":"batteryPercent = parseInt(msg.payload);\n//calculate timezone offset in milliseconds\nvar tzoffset = (new Date()).getTimezoneOffset() * 60000; \nvar localISOTime = (new Date(Date.now() - tzoffset));\nif (batteryPercent <= 85 && localISOTime.getHours() >= 2 && localISOTime.getHours() < 5)\n{\n    msg.topic=\"sofar/charge\";\n    msg.payload=3000;\n    node.status({fill:\"green\", shape:\"dot\", text:msg.payload})\n    setTimeout(() => { node.status({}); }, 3000);\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":140,"wires":[["4f942ade.222b44"]]},{"id":"881717be.274408","type":"function","z":"d24df855.a61cd8","name":"Auto 3pm-2am","func":"batteryPercent = parseInt(msg.payload);\n//calculate timezone offset in milliseconds\nvar tzoffset = (new Date()).getTimezoneOffset() * 60000; \nvar localISOTime = (new Date(Date.now() - tzoffset));\nif (localISOTime.getHours() < 2 || localISOTime.getHours() >= 15)\n{\n    msg.topic=\"sofar/auto\";\n    msg.payload=true;\n    node.status({fill:\"green\", shape:\"dot\", text:msg.payload})\n    setTimeout(() => { node.status({}); }, 3000);\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["4f942ade.222b44"]]},{"id":"994e5a29.09b5b8","type":"function","z":"d24df855.a61cd8","name":"Save Battery 5am-3pm","func":"\nbatteryPercent = parseInt(msg.payload);\n//calculate timezone offset in milliseconds\nvar tzoffset = (new Date()).getTimezoneOffset() * 60000; \nvar localISOTime = (new Date(Date.now() - tzoffset));\nif (localISOTime.getHours() >= 5 && localISOTime.getHours() < 15)\n{\n    msg.topic=\"sofar/auto\";\n    msg.payload=\"battery_save\";\n    node.status({fill:\"green\", shape:\"dot\", text:msg.payload})\n    setTimeout(() => { node.status({}); }, 3000);\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":200,"wires":[["4f942ade.222b44"]]},{"id":"4f93ae3c.5885c","type":"mqtt in","z":"d24df855.a61cd8","name":"running_state","topic":"sofar/running_state","qos":"2","datatype":"auto","broker":"f1cb6c58.281ab","x":130,"y":60,"wires":[["3f0576a4.8f6f0a"]]},{"id":"3f0576a4.8f6f0a","type":"function","z":"d24df855.a61cd8","name":"state","func":"node.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nswitch (msg.payload)\n{\n\tcase \"0\":\n\t\tmsg.payload = \"Standby\"\n\t\tbreak;\n\tcase \"1\":\n\t\tmsg.payload = \"Check charge\"\n\t\tbreak;\n\tcase \"2\":\n\t\tmsg.payload = \"Charging\"\n\t\tbreak;\n\tcase \"3\":\n\t\tmsg.payload = \"Chaeck discharge\"\n\t\tbreak;\n\tcase \"4\":\n\t\tmsg.payload = \"Discharging\"\n\t\tbreak;\n\tcase \"5\":\n\t\tmsg.payload = \"EPSState\"\n\t\tbreak;\n\tcase \"6\":\n\t\tmsg.payload = \"Fault\"\n\t\tbreak;\n\tcase \"7\":\n\t\tmsg.payload = \"Perminant Fault\"\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = \"Unknown\"\n\t\tbreak;\n}\nnode.status({fill:\"green\", shape:\"ring\", text:msg.payload})\nsetTimeout(() => { node.status({}); }, 3000);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[[]]},{"id":"4f942ade.222b44","type":"mqtt out","z":"d24df855.a61cd8","name":"sofar","topic":"","qos":"2","retain":"","broker":"f1cb6c58.281ab","x":690,"y":140,"wires":[]},{"id":"f1cb6c58.281ab","type":"mqtt-broker","name":"MQTT Broker","broker":"emonpi","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]