Node-Red Flows/Sofar2MQTT_Set.json
[{"id":"9af1944f.2f9958","type":"tab","label":"Sofar2MQTT Set","disabled":false,"info":"Examples of how to set the inverter run mode via Sofar2MQTT."},{"id":"d73a66a6.a29b58","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/standby","payload":"true","payloadType":"str","x":180,"y":60,"wires":[["53ade257.051a4c"]]},{"id":"53ade257.051a4c","type":"mqtt out","z":"9af1944f.2f9958","name":"sofar","topic":"","qos":"2","retain":"","broker":"f1cb6c58.281ab","x":450,"y":60,"wires":[]},{"id":"6d68dfd4.90ca1","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/charge","payload":"500","payloadType":"num","x":170,"y":260,"wires":[["53ade257.051a4c"]]},{"id":"81f77b7e.e2bb88","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/charge","payload":"1230","payloadType":"num","x":180,"y":300,"wires":[["53ade257.051a4c"]]},{"id":"4d64dd1.8e67d24","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/charge","payload":"3000","payloadType":"num","x":180,"y":340,"wires":[["53ade257.051a4c"]]},{"id":"e0de74cc.1d2368","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/discharge","payload":"543","payloadType":"num","x":180,"y":420,"wires":[["53ade257.051a4c"]]},{"id":"27e39388.afcdac","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/discharge","payload":"1000","payloadType":"num","x":190,"y":458,"wires":[["53ade257.051a4c"]]},{"id":"dab9183b.2e80a8","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/discharge","payload":"1521","payloadType":"num","x":190,"y":498,"wires":[["53ade257.051a4c"]]},{"id":"2c7d9ba3.225f64","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/discharge","payload":"2000","payloadType":"num","x":191,"y":535,"wires":[["53ade257.051a4c"]]},{"id":"2c245e9.0ab7ea2","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/discharge","payload":"3000","payloadType":"num","x":191,"y":575,"wires":[["53ade257.051a4c"]]},{"id":"96f5d770.fd46e8","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/auto","payload":"true","payloadType":"str","x":170,"y":140,"wires":[["53ade257.051a4c"]]},{"id":"d783a887.915c98","type":"inject","z":"9af1944f.2f9958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sofar/set/auto","payload":"battery_save","payloadType":"str","x":190,"y":180,"wires":[["53ade257.051a4c"]]},{"id":"f1cb6c58.281ab","type":"mqtt-broker","name":"MQTT Broker","broker":"mqtt.home","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]